.detalleTitulo{
    text-align: center;
}

.detalle{
    gap: 10px;
}

.btn-fav {
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    font-size: 20px;
    right: 10px;
    top: 10px;
    border: solid 1px blueviolet;
}

.btn-fav:hover {
    background-color: rgba(137, 43, 226, 0.87);
}

.btn-volver{
    color: white;
    padding: 5px;
    font-size: 20px;
    background-color: blueviolet;
    border-radius: 10px;
}